.btnWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.loginBtn {
  white-space: nowrap;
}
@media only screen and (min-width: 768px) {
  .btnWrapper {
    flex-direction: row;
    gap: 27px;
  }
}
