.hero {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin: -48px -50vw 48px -50vw;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    image-set(url("/assets/Banner/1x/Banner1x\(Mobile\).jpg") 1x);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      image-set(url("/assets/Banner/2x/Banner2x\(Mobile\).jpg") 2x);
  }
}
.container {
  position: relative;
  max-width: 393px;
  margin: 0 auto;
  padding: 128px 32px 98px 32px;
  z-index: 1;
}

.title {
  font-family: var(--font-family);
  font-size: var(--font-size-lg-mob-title);
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
  margin-bottom: 24px;
  line-height: 110%;
}

@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      image-set(url("/assets/Banner/1x/Banner1x\(Tablet\).jpg") 1x);
  }
  .container {
    position: relative;
    max-width: 768px;
    margin: 0 auto;
    padding: 128px 65px 128px 32px;
    z-index: 1;
  }

  .title {
    font-size: var(--font-size-xl-title);
    padding-right: 178px;
  }

  @media (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.9) 0%,
          rgba(0, 0, 0, 0.3) 100%
        ),
        image-set(url("/assets/Banner/2x/Banner2x\(Tablet\).jpg") 2x);
    }
  }
}
@media (min-width: 1440px) {
  .hero {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      image-set(url("/assets/Banner/1x/Banner1x\(Desktop\).jpg") 1x);
  }

  .container {
    max-width: 1440px;
    padding: 128px 671px 128px 108px;
  }

  @media (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.9) 0%,
          rgba(0, 0, 0, 0.3) 100%
        ),
        image-set(url("/assets/Banner/2x/Banner2x\(Desktop\).jpg") 2x);
    }
  }
}
