.searchBtn {
  padding: 13px 0px;
  max-width: 100%;
}
.wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
@media (min-width: 768px) {
  .searchBtn {
    padding: 12px 59px;
    max-width: 176px;
  }
  .wraper {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
@media (min-width: 1440px) {
  .wraper {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
}
.input {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 8px;
  height: 46px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: var(--black);
  width: 100%;
  outline: none;
}
.input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #9f9f9f;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.input:focus {
  box-shadow: 0 0 0 4px rgba(78, 70, 180, 0.2);
  background: var(--color-primary);
  border: 1.5px solid #9b6c43;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
  font-weight: 600;
  backdrop-filter: blur(4px);
}
.inputError {
  border: 1.5px solid #c80000;
  background: #fff; /* залишаємо світлий фон */
}

.inputError:focus {
  box-shadow: 0 0 0 4px rgba(200, 0, 0, 0.2);
  border: 1.5px solid #c80000;
}
