.total {
  font-weight: 600;
  font-size: 18px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 24px;
  margin: 40px 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
.wrapper {
  margin: 0 auto;
}

.item {
  overflow: hidden;
  align-items: center;
}

.loadMoreWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .item {
    flex-basis: calc((100% - 72px) / 4);
  }
}
